<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Expample Components</title>
  <link href="/src/style.css" rel="stylesheet" />
</head>

<body class="bg-black text-amber-50 pl-6 pr-6 max-w-[1024px] ml-auto mr-auto">
  <div class="m-3 border-4  border-double  p-5">
    <div>
      <h1 class="text-6xl mb-5">
        Name Here</h1>
      <h2 class="text-lg">Job Title Here</h2>
      <hr>
      <br>
      <p>This is a page to test out and design components for my page.</p>
    </div>
    <div class=" mt-8 flex flex-col md:flex-row">
      <a class="navButton" href="#lorem">Skills</a>
      <a class="navButton" href="#lorem">Experience</a>
      <a class="navButton" href="#lorem">Contact</a>
      <a class="navButton" href="#lorem">Examples</a>
    </div>
  </div>
  <section class="section">
    <h2 class="heading">Example Section:</h1>
      <hr />
      <h3>Button:</h3>
      <a href="/" class="button">My button</a>
      <h3>Text:</h3>
      <p>This is text. It is at 16px.</p>
      <h3>Hyperlink:</h3>
      <p>This is <a href="#">hyperlink</a>, it has a mouse over effect.</p>
  </section>
  <section id="list">
    <h2 class="heading">Skills Section:</h1>
      <hr />
      <ul class="flex flex-row flex-wrap p-2">
        <li class="skill">One</li>
        <li class="skill">Two</li>
        <li class="skill">Third</li>
        <li class="skill">Fourth</li>
        <li class="skill">Five</li>
        <li class="skill">Six</li>
      </ul>
  </section>
  <section id="list">
    <h2 class="heading">List Section:</h1>
      <hr />
      <ul class="list-disc ml-4">
        <li>This is an item</li>
        <li>This is a second item</li>
        <li>Third</li>
        <li>Fourth</li>
        <li>And finally fifth</li>
      </ul>
  </section>
  <section id="lorem">
    <h2 class="heading">Anchor Section:</h1>
      <hr />
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum nulla est facere reiciendis sequi eos adipisci.
        Quae fugiat quaerat explicabo, repellendus rerum, temporibus voluptatem pariatur aliquid magnam atque eligendi!
        Laboriosam.</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ipsam labore praesentium similique! Ipsa amet
        numquam sed laboriosam reprehenderit quas reiciendis enim doloribus nam architecto, exercitationem soluta magnam
        dolor! Sed?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla excepturi, non illum fugiat quos inventore
        laudantium! Soluta, doloremque maxime. Quisquam veritatis corporis modi necessitatibus ipsum quibusdam est!
        Sequi, soluta deserunt.</p>
  </section>
</body>

</html>